a, h1, h2, h3, h4, h5, h6 {
  font-family: "AR One Sans", "Verdana", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #141118;
}

header {
  background-color: rgb(20, 17, 24, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
}

body {
  margin: 0%;
}

.content {
  margin: 0.8% 1.75%;
  padding: 1.75%;
}

a {
  padding: 1% 3%;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  position: relative;
  display: block;
  transition: font-weight 300ms;
}

a:not(:active):hover {
  color: #C6D7FF;
  font-weight: 600;
}

.left::before {
  content: '';
  position: absolute;
  display: block;
  bottom: 0;
  left: 50%;
  height: 2px;
  width: 0;
  transform: translateX(-50%);
  transition: width ease-in-out 300ms;
}

.left:hover::before {
  width: 100%;
  background: #C6D7FF;
}

.left.active::before {
  width: 100%;
  background: #FFFFFF;
  /*text-decoration: underline;*/
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 64px;
}

h3 {
  font-size: 56px;
}

h4 {
  font-size: 40px;
  font-weight: 500;
}

h5 {
  font-size: 24px;
}

h6 {
  font-size: 16px;
  font-weight: 400;
  margin: 0%;
}

p {
  font-family: "Montserrat", "Verdana", sans-serif;
  font-size: 24px;
  color: #141118;
}

.nav-links {
  display: flex;
  padding-right: 24%;
}

.nav-icons {
  display: flex;
  padding-left: 12%;
  margin-left: 8%;
  margin-right: 9%;
}

.left:not(:first-child) {
  margin-left: 32%;
}

.right:not(:last-child) {
  margin-right: 64%;
}

#Email, #LinkedIn, #GitHub {
  transition: content ease-in-out 300ms;
}

#Email:hover {
  content: url('images/email hover.svg');
  height: 32px;
  width: 32px;
}

#LinkedIn:hover {
  content: url('images/linkedin hover.svg');
  height: 32px;
  width: 32px;
}

#GitHub:hover {
  content: url('images/github hover.svg');
  height: 32px;
  width: 32px;
}

#Logo {
  padding: 1.5% 3% 0.5%;
}

.icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav div.nav-links {display: none;}
  .topnav div.nav-icons {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav a#Logo {
    float: left;
    display: block;
  }
  .topnav {
    justify-content: space-between;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive a#Logo {
    position: absolute;
    left: 0;
    top: 0;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 4%;
  }
  .topnav.responsive div {
    display: block;
    text-align: right;
  }
  .topnav.responsive div.nav-links {
    margin-left: 30%;
  }
  .topnav.responsive div.nav-icons {
    margin-right: 24%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 0%;
    padding-left: 0%;
  }
  .topnav.responsive div a.left:first-child {
    margin-left: 32%;
  }
  .topnav.responsive div a.right:last-child {
    margin-right: 64%;
  }
}

#subtitle {
  background-color: #231F45;
  width: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
}

#subtext {
  color: #ECD6FF;
  font-weight: 400;
  margin: 1.5%;
}

#thanks {
  display: inline-block;
}

#Location {
  position: relative;
  float: right;
  margin: 5% 8%;
  background-color: #C6D7FF;
}

#Headshot {
  width: 240px;
  height: 240px;
  border-radius: 100px;
  object-fit: cover;
  margin: auto;
  transition: transform 300ms;
  /*left: 50%;
  top: 50%;
  transform: translateX(-50%);
  transform: translateY(-50%);
    width 500ms,
    height 500ms;*/
}

#Face:hover #Headshot {
  transform: scale(1.167);
}

#Text-ring {
  width: 450px;
  height: 450px;
  position: absolute;
  left: -104px;
  top: -104px;
  visibility: hidden;
  transform: rotate(0deg);
  transition: 
    visibility ease-in-out 2s,
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-359deg);
  }
}

#Face:hover #Text-ring {
  visibility: visible;
  animation: rotation 20s infinite linear;
}

#Job, #School {
  margin-left: 80px;
}

#Job {
  margin-top: -60px;
  width: 680px;
}

#University {
  float: left;
  margin-top: 40px;
}

#School {
  margin-top: 40px;
  width: 760px;
}

#Dog, #Work, #City {
  display: flex;
  flex-direction: row;
}
