a, h1, h2, h6 {
  font-family: "AR One Sans", "Verdana", sans-serif;
  color: #141118;
}

header {
  text-align: right;
  margin-top: -0.8%;
}

body {
  margin: 1.6%;
  padding: 1.6%;
}

a {
  padding: 40px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
}

a:hover {
  color: #4F4AB5;
  font-weight: 600;
}

h1 {
  font-size: 104px;
}

h2 {
  font-size: 80px;
}

h6 {
  font-size: 16px;
}

p {
  font-family: "Montserrat", "Verdana", sans-serif;
  font-size: 24px;
  color: #141118;
}

#Email:hover {
  content: url('images/email-round-solid-icon-hover.svg');
  height: 32px;
  width: 32px;
}

#LinkedIn:hover {
  content: url('images/linkedin-round-icon-hover.svg');
  height: 32px;
  width: 32px;
}

#GitHub:hover {
  content: url('images/github-icon-hover.svg');
  height: 32px;
  width: 32px;
}

#Logo {
  padding: 10px 5px 15px 0px;
  float: left;
}

#subtitle {
  color: #C6D7FF;
  background-color: #231F45;
}

#Face {
  position: relative;
  float: right;
}

#Headshot {
  width: 160px;
  height: 160px;
  border-radius: 100px;
  object-fit: cover;
  margin: auto;
}

#Text-ring {
  width: 200px;
  height: 200px;
  position: absolute;
  left: -18px;
  top: -18px;
}

#Job, #School {
  margin-left: 80px;
}

#Job {
  margin-top: -60px;
  width: 680px;
}

#University {
  float: left;
  margin-top: 40px;
}

#School {
  margin-top: 40px;
  width: 760px;
}
