a, h1 {
  font-family: "AR One Sans";
}

header {
  margin: 24px;
  text-align: right;
}

a {
  padding: 40px;
  font-size: 20px;
  text-align: center;
  color: #0A0A0A;
  text-decoration: none;
}

a:hover {
  color: blue;
}

h1 {
  font-size: 130px;
}
